@import "../../scss/variables";

.header {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(
      to bottom right,
      rgba($blue-dark, 0.9),
      rgba($pink-dark, 1)
    ),
    url("../../images/block-header.jpeg");
  background-size: cover;
  background-position: right;

  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  color: rgb(61, 61, 61);

  &__hero-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    // prevents jerkiness in animations
    backface-visibility: hidden;
  }
  &__main-heading {
    text-transform: uppercase;
    display: block;
    font-size: 4rem;
    letter-spacing: 25px;
    text-align: center;
    font-weight: 500;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__sub-heading {
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.25rem;
    text-align: center;
    font-weight: 500;
    margin-top: 1rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(med) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__logo-box {
    text-decoration: none;
    color: rgb(61, 61, 61);
    position: absolute;
    display: flex;
    top: 1rem;
    left: 1rem;

    h1 {
      display: inline;
      padding: 0.1rem 0.4rem;
      font-weight: 300;
    }
  }

  &__logo {
    height: 2.5rem;
    display: inline;
  }
}
