@import "../../scss/variables";

.testimonials {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 3rem;
}
.review {
  font-size: 1.1rem;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  flex: 1;
  margin: 1rem;
  box-shadow: $shadow-dark;
  border-radius: 1rem;

  transition: all 0.4s;

  @include respond(med) {
    padding: 1.5rem;
  }

  &:hover {
    box-shadow: $shadow-light;
    transform: scale(1.05);
  }

  &__text {
    font-size: 1.3rem;
  }
  &__user {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

  @include respond(med) {
    flex-direction: column;
  }


    &-image {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
    }
    &-box {
      display: flex;
      flex-direction: column;
      margin: 1rem;
    }
    &-name {
      font-weight: 500;
    }
    &-date {
      font-weight: 100;
    }
    &-rating {
      color: $primary-pink;
      font-size: 2rem;
      margin-left: auto;
    }
  }
}
