@import "../../scss/variables";

.testimonial-section {
  margin: 2rem 0;
  h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  padding: 1rem;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  
}
.review {
  font-size: 1.1rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  flex: 1;
  margin: 1rem;
  box-shadow: $shadow-dark;
  border-radius: 1rem;

  transition: all 0.4s;

  &:hover {
    box-shadow: $shadow-light;
    transform: scale(1.05);
  }

  &__text {
  }
  &__user {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    &-image {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
    }
    &-box {
      display: flex;
      flex-direction: column;
      margin: 1rem;
    }
    &-name {
      font-weight: 500;
    }
    &-date {
      font-weight: 100;
    }
    &-rating {
      color: $primary-pink;
      font-size: 2rem;
      margin-left: auto;
    }
  }
}
