//main colors
$blue: #83d5ff;
$blue-dark: darken($blue, 15%);
$blue-dark2: darken($blue, 50%);
$blue-light: lighten($blue, 15%);

$pink: #e783fc;
$pink-dark: darken($pink, 15%);
$pink-dark2: darken($pink, 50%);
$pink-light: lighten($pink, 15%);

$section-blue-dark: #2f5c72;
